<!DOCTYPE html>
<html>

   <head>
      <title>Backend API | Jobaboard.net</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto">
      <link href="/public_css/style.css" >
   </head>

   <body>
      <div class="container">
         <h1>Backend Server built on Heroku</h1>
         <h2>Description: This is the backend service for jobaboard.net.</h2>
         <h3>Details</h3>
         <p>This backend allow users to handle their accounts. The platform serves as a job posting platform but using NFTs. Each job is a NFT which users can collect, trade, buy or sell. Each user can have as many NFTs as they want and assign that NFT to a particular job, as an employee or as an employer.</p>
         <h3>This server was built using:</h3>
         <ul>
            <li>NodeJs & Express</li>
            <li>Mongo Database</li>
            <li>Cloudinary as image handler</li>
            <li>HIVE blockchain technologies: NFTs & crypto loggin system.</li>
         </ul>
         <h3>How to use it</h3>
         <ul>
            <li>You must own a HIVE account to login into the platform.</li>
            <li>Then configure your account using the Hive Keychain extension.</li>
            <li>Now you can log in to <a href="https://jobaboard.net/">Jobaboard.net</a></li>
            <li>If you want to test the platform, send me a message to <a href="https://saturnoman.com/Contact">Contact me</a></li>
         </ul>
      </div>
      <footer>
         <ul>
            <li>Made by <a href="https://saturnoman.com/">Saturno M. Theghost1980</a></li>
         </ul>
      </footer>
   </body>

</html>
